<div class="row">
	<div class="col-md-12">
		<div class="col-md-offset-2 col-md-8" ng-controller="homeMapController as homemap">	

			<div class="row">
				<div class="col-md-12" style="background-color: lightgray; text-align:center; border-radius: 9px; margin-bottom:30px;">
					<div class="row">
						<div class="col-md-4">
							<h4>Födelsedatum</h4>
		            		<rzslider rz-slider-model="ageFilter.minValue" 
		            				rz-slider-high="ageFilter.maxValue" 
		            				rz-slider-options="ageFilter.options">
		    				</rzslider>
	    				</div>
	    				<div class="col-md-4">
	    					<h4>Månad</h4>
		            		<rzslider rz-slider-model="monthFilter.minValue" 
		            				rz-slider-high="monthFilter.maxValue" 
		            				rz-slider-options="monthFilter.options">
		    				</rzslider>
	    				</div>
						<div class="col-md-4">
							<h4>Tid</h4>
		            		<rzslider rz-slider-model="hourFilter.minValue" 
		            				rz-slider-high="hourFilter.maxValue" 
		            				rz-slider-options="hourFilter.options">
		    				</rzslider>
	    				</div>
    				</div>
    				<div class="row">
						<button class="btn btn-default" ng-click="homemap.toggleHeatmap();">Heatmap</button>
						<button class="btn btn-default" ng-click="homemap.togglePolyline();">Polyline</button>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Vad visar kartan? </span>
					<input id="pac-input" class="form-control" type="text" placeholder="Sök på en annan plats">
				</div>
				<map zoom="8" center="[0, 0]"></map>
			</div>
		</div>
	</div>
</div> 
<div class="row">
<div 	
				ng-show="$root.user != null"
				class="col-md-offset-4 col-md-4" 
				style="background-color: lightgray; text-align:center; border-radius: 9px; margin-top:30px;"
				ng-controller="trackingController">
				<h3>Skapa ny aktivitet</h3>
				<div class="form-group">
					<button ng-show="!newActivity" class="btn btn-default" ng-click="startTracking()">Klicka här</button>
					<input ng-show="newActivity" ng-model="gspLink"></input>
					<button clipboard text="gspLink" ng-show="newActivity" class="btn btn-default">Kopiera</button>
				</div>
				<p ng-show="newActivity" style="text-align:left;">
					<b>Instruktioner</b>
					<br>
					Länken ovan lägger du in i androidappen <i>Self-Hosted GPS Tracker<i> för att föra in gpsdata till din akitivitet
				</p>
		</div>
	

</div>