<div class="row">
	<div class="col-md-12" ng-controller="trackingController as tracking">
		<button class="btn" ng-click="tracking.startTracking();">Skapa ny aktivitet</button>
		<span>{{gpsdata}}</span>
	</div>
</div>
<div class="row" ng-controller="activityController as activity">
	<div class="col-md-9">
		<div class="col-md-12">
	        <map zoom="8" center="[0, 0]"></map>
   	 	</div>
   	 	<div class="col-md-12">
			<table class="table table-hover">
				<thead  class="thead-inverse">
					<tr>
						<th>Datum</th>
						<th>Distans</th>
						<th>Tid</th>
					</tr>
				</thead>
				<tr ng-repeat="act in activity.activities" ng-click="activity.setActivity(act._id);">
					<td>{{act.date | date:"yyyy - MM - dd"}}</td>
					<td>{{act.distance}}</td>
					<td>{{act.totalTime | secondsToDateTime | date:'HH:mm:ss'}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md-12" style="background-color:lightgray; border-radius:9px; margin-bottom:10px;">
			<h3>{{currentActivity.date | date:"dd/MM H:mm"}}</h3>
			<h4>
				Distans 
				<br>
				{{currentActivity.distance}}m
			</h4>
			<h4>
				Totaltid 
				<br>
				{{currentActivity.totalTime | secondsToDateTime | date:'HH:mm:ss'}}
			</h4>
			<h4>
				Medelhastighet
				<br>
				{{currentActivity.averageTime | secondsToDateTime | date:'mm:ss'}} min/km
			</h4>
			<button class="btn" ng-click="stat.setStats();"></button>
		</div>

		<div class="col-md-12" style="background-color:lightgray; border-radius:9px; margin-bottom:10px; text-align:center;">
			<h4>Mot längsta</h4>
			<div style="font-weight:bold;">{{$root.user.longestRun}}m</div>
			<canvas id="longest" width="120" height="100"></canvas>
			<br>
			<h4>Mot snabbaste</h4>
			<div style="font-weight:bold;">{{$root.user.bestAvgTime | secondsToDateTime | date:'mm:ss'}} min/km</div>
			<canvas id="fastest" width="120" height="100"></canvas>
		</div>
		<div class="col-md-12" style="background-color:lightgray; border-radius:9px;" ng-controller="exportController as export">
			<h3>Exporta</h3>
			<button class="btn btn-default" ng-click="export.makeKML(currentActivity._id);">KML</button>
			<button class="btn btn-default">XML</button>
			<button class="btn btn-default">CSV</button>
		</div>
	</div>
</div>